/*
Proyecto: Curiosipics
Autor: Pedro de la Cruz
Fecha: 10/8/2015
*/

/*****************************
RESET
*****************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{outline: medium none;text-decoration: none;}
a img{border:none;}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*****************************
PROPIEDADES GENERALES
******************************/
body{margin:0;padding:0;font-family:'cabinregular', Helvetica, sans-serif;font-size: 1em;line-height: 1.5em;}
.container{display:block;width:100%;max-width:1600px;margin:0 auto;}
#wrapper{position:relative;background:#f1f1f1;}
#wrapper.home{background:#ffffff;}

/*****************************
PROPIEDADES HEADER
******************************/
#header{position:fixed; top:0px;width:100%;}
#header.home{z-index:200;}
#header.header_normal{position:relative !important;/*z-index:100;*/}
#header .container{position:relative;}

#top_header{position:absolute;top:0;left:0;z-index:100;width:100%;}
#top_header h1 a{display:block;width:149px;height:44px;text-indent:-99999px;background:url(../img/logo_cambridge.jpg) top left no-repeat;position:absolute;top:0;left:0;}

#top_header .right_top_header{position:absolute;top:15px;right:0;overflow:hidden;}
.right_top_header .navigation_menu{float:right;}
.right_top_header .user_menu{float:right;}
.right_top_header .logged_box{float:right;}
#top_header ul li{display:inline-block;}
#top_header ul li a{font-family:'cabinbold', Helvetica, sans-serif;font-size:18px;color:#ffffff;display:inline-block;height:35px;line-height:35px;margin-right:20px;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
#top_header ul li a.active{border-bottom:solid 5px #61bde9;}
#top_header ul li a:hover{border-bottom:solid 5px #61bde9;}
#top_header.black_enl ul li a{color:#373737 !important;}

/*Cambio de colores según scroll de la home*/
#top_header.block1 ul li a{color:#61bde9;}
#top_header.block1 ul li a.active{border-bottom:solid 5px #f05456;}
#top_header.block1 ul li a:hover{border-bottom:solid 5px #f05456;}

#top_header.block2 ul li a{color:#ffffff;}
#top_header.block2 ul li a.active{border-bottom:solid 5px #f05456;}
#top_header.block2 ul li a:hover{border-bottom:solid 5px #f05456;}

#top_header.block3 ul li a{color:#61bde9;}
#top_header.block3 ul li a.active{border-bottom:solid 5px #f05456;}
#top_header.block3 ul li a:hover{border-bottom:solid 5px #f05456;}

#top_header.block4 ul li a{color:#ffffff;}
#top_header.block4 ul li a.active{border-bottom:solid 5px #61bde9;}
#top_header.block4 ul li a:hover{border-bottom:solid 5px #61bde9;}


#top_header ul li.btn_header a{font-size:16px;border:2px solid #ffffff;padding-left:25px;padding-right:25px;border-radius:5px;margin-right:5px;}
#top_header ul li.btn_header a:hover{background:#ffffff;color:#61bde9;}
#top_header ul li.btn_header a.active{background:#ffffff;color:#61bde9;}
#top_header ul li.btn_header:last-child a{margin-right:20px;}

/*Cambio de colores según scroll de la home*/
#top_header.block1 ul li.btn_header a{border:2px solid #61bde9;}
#top_header.block1 ul li.btn_header a:hover{background:#61bde9;color:#ffffff;}
#top_header.block1 ul li.btn_header a.active{background:#61bde9;color:#ffffff;}

#top_header.block2 ul li.btn_header a{border:2px solid #ffffff;}
#top_header.block2 ul li.btn_header a:hover{background:#ffffff;color:#61bde9;}
#top_header.block2 ul li.btn_header a.active{background:#ffffff;color:#61bde9;}

#top_header.block3 ul li.btn_header a{border:2px solid #61bde9;}
#top_header.block3 ul li.btn_header a:hover{background:#61bde9;color:#ffffff;}
#top_header.block3 ul li.btn_header a.active{background:#61bde9;color:#ffffff;}

#top_header.block4 ul li.btn_header a{border:2px solid #ffffff;}
#top_header.block4 ul li.btn_header a:hover{background:#ffffff;color:#61bde9;}
#top_header.block4 ul li.btn_header a.active{background:#ffffff;color:#61bde9;}


#top_header.black_enl ul li.btn_header a{border:2px solid #373737 !important;}

.logged_box a{font-size:18px;color:#61bde9;line-height:35px;height:35px;margin-right:25px;margin-left:15px;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.logged_box a:before{content:'';display:block;width:35px;height:35px;background:url(../img/ico_logged.png) right center no-repeat;float:left;}
/**** over *****/
.logged_box a:hover{color:#ff0000;}
.logged_box a:hover:before{}


#header h2.logo_top a{display:block;width:397px;height:184px;left:0;text-indent:-99999px;background:url(../img/logo_top.png) top left no-repeat;z-index:80;margin:0 auto;background-size:cover;-ms-behavior:url(/backgroundsize.min.htc);}

#box_login{background:#ffffff;display:block;box-sizing:border-box;width:280px;/*height:280px;*/position:absolute;top:70px;right:20px;padding:20px;border-radius:5px;z-index:300;padding-bottom:80px;}
#form-login label{display:block;color:#373737;font-size:16px;margin-bottom:3px;}
#form-login input[type=text]{display:block;width:100%;height:40px;line-height:40px;background:#f1f1f1;border:0;-webkit-appearance:none;margin-bottom:10px;box-sizing:border-box;padding-left:10px;padding-right:10px;font-size:14px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}
#form-login input[type=password]{display:block;width:100%;height:40px;line-height:40px;background:#f1f1f1;border:0;-webkit-appearance:none;margin-bottom:10px;box-sizing:border-box;padding-left:10px;padding-right:10px;font-size:14px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}
#form-login a{font-size:14px;color:#7f7f7f;text-decoration:underline;}
#form-login input[type=submit]{position:absolute;bottom:20px;right:20px;width:120px;height:40px;box-sizing:border-box;border:2px solid #373737;border-radius:5px;background:none;font-size:16px;-webkit-appearance:none;cursor:pointer;font-family:'cabinregular', Helvetica, sans-serif;}
#form-forgot-password label{display:block;color:#373737;font-size:16px;margin-bottom:3px;}
#form-forgot-password input[type=text]{display:block;width:100%;height:40px;line-height:40px;background:#f1f1f1;border:0;-webkit-appearance:none;margin-bottom:10px;box-sizing:border-box;padding-left:10px;padding-right:10px;font-size:14px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}
#form-forgot-password input[type=password]{display:block;width:100%;height:40px;line-height:40px;background:#f1f1f1;border:0;-webkit-appearance:none;margin-bottom:10px;box-sizing:border-box;padding-left:10px;padding-right:10px;font-size:14px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}
#form-forgot-password p{font-size:14px;color:#7f7f7f;line-height:21px;margin-bottom:20px;}
#form-forgot-password input[type=submit]{position:absolute;bottom:20px;right:20px;width:120px;height:40px;box-sizing:border-box;border:2px solid #373737;border-radius:5px;background:none;font-size:16px;-webkit-appearance:none;cursor:pointer;font-family:'cabinregular', Helvetica, sans-serif;}
.feedback{text-align:center;color:#f05456;font-size:14px;margin-top:20px;display:none;width:100%;}

.deco_1{display:block;display:block;width:284px;height:131px;position:absolute;top:0;left:50%;margin-left:-384px;z-index:100;}
.deco_1 span{display:block;position:absolute;}
.deco_1_1{background:url(../img/deco_1_1.png) top left no-repeat;width:32px;height:32px;right:29px;top:64px;}
.deco_1_2{background:url(../img/deco_1_2.png) top left no-repeat;width:284px;height:131px;top:0px;}

.deco_2{display:block;display:block;width:333px;height:513px;position:absolute;top:-360px;left:0;z-index:100;}
.deco_2 span{display:block;position:absolute;}
.deco_2_1{background:url(../img/deco_2_1.png) top left no-repeat;width:51px;height:51px;top:180px;right:33px;}
.deco_2_2{background:url(../img/deco_2_2.png) top left no-repeat;width:24px;height:24px;top:145px;left:178px;}
.deco_2_3{background:url(../img/deco_2_3.png) top left no-repeat;width:44px;height:44px;top:261px;}
.deco_2_4{background:url(../img/deco_2_4.png) top left no-repeat;width:157px;height:157px;top:0px;right:7px;}
.deco_2_5{background:url(../img/deco_2_5.png) top left no-repeat;width:333px;height:332px;bottom:0px;}

.deco_3{display:block;display:block;width:248px;height:404px;position:absolute;top:-370px;right:0;z-index:100;}
.deco_3 span{display:block;position:absolute;}
.deco_3_1{background:url(../img/deco_3_1.png) top left no-repeat;width:242px;height:266px;bottom:0;right:0;}
.deco_3_2{background:url(../img/deco_3_2.png) top left no-repeat;width:85px;height:85px;bottom:150px;}
.deco_3_3{background:url(../img/deco_3_3.png) top left no-repeat;width:57px;height:58px;top:35px;left:37px;}
.deco_3_4{background:url(../img/deco_3_4.png) top left no-repeat;width:17px;height:17px;left:16px;}

.deco_4{display:block;display:block;width:222px;height:225px;position:absolute;bottom:175px;left:0;z-index:100;}
.deco_4 span{display:block;position:absolute;}
.deco_4_1{background:url(../img/deco_4_1.png) top left no-repeat;width:37px;height:37px;right:7px;top:60px;}
.deco_4_2{background:url(../img/deco_4_2.png) top left no-repeat;width:47px;height:62px;bottom:7px;}
.deco_4_3{background:url(../img/deco_4_3.png) top left no-repeat;width:222px;height:225px;}

.deco_5{display:block;display:block;width:223px;height:485px;position:absolute;bottom:30px;right:0;z-index:100;}
.deco_5 span{display:block;position:absolute;}
.deco_5_1{background:url(../img/deco_5_1.png) top left no-repeat;width:29px;height:29px;right:86px;}
.deco_5_2{background:url(../img/deco_5_2.png) top left no-repeat;width:77px;height:77px;top:100px;right:31px;}
.deco_5_3{background:url(../img/deco_5_3.png) top left no-repeat;width:223px;height:482px;}

/*************************************
PROPIEDADES GALERÍ SUPERIOR HOME
*************************************/
#gallery_home{position:relative;}
#gallery_home h2.logo_gall{display:block;position:absolute;width:433px;height:432px;left:0;right:0;margin:0 auto;text-indent:-99999px;background:url(../img/logo_concurso.png) top left no-repeat;top:50%;margin-top:-216px;z-index:80;background-size:cover;-ms-behavior:url(/backgroundsize.min.htc);}

#galeria_sup{height:795px;overflow:hidden;position:relative;}
#galeria_sup:after{content:'';display:block;height:795px;background:rgba(0,0,0,0.5);position:absolute;top:0;width:100%;z-index:50;}
#galeria_sup .left_galeria,#galeria_sup .right_galeria{width:50%;float:left;overflow:hidden;}
#galeria_sup .left_galeria .colum_1{width:60%;float:left;height:795px;}
#galeria_sup .left_galeria .colum_2{width:40%;float:left;height:795px;}
#galeria_sup .right_galeria .colum_1{width:40%;float:left;height:795px;}
#galeria_sup .right_galeria .colum_2{width:60%;float:left;height:795px;}

#galeria_sup .left_galeria .colum_1 .box_img_1{height:41%;width:100%;}
#galeria_sup .left_galeria .colum_1 .box_img_2{height:36%;width:100%;}
#galeria_sup .left_galeria .colum_1 .box_img_3{height:33%;width:100%;overflow:hidden;}

#galeria_sup .left_galeria .colum_2 .box_img_1{height:27%;width:100%;}
#galeria_sup .left_galeria .colum_2 .box_img_2{height:24%;width:100%;}
#galeria_sup .left_galeria .colum_2 .box_img_3{height:24%;width:100%;}
#galeria_sup .left_galeria .colum_2 .box_img_4{height:25%;width:100%;}

#galeria_sup .right_galeria .colum_1 .box_img_1{height:50%;width:100%;}
#galeria_sup .right_galeria .colum_1 .box_img_2{height:27%;width:100%;}
#galeria_sup .right_galeria .colum_1 .box_img_3{height:23%;width:100%;}

#galeria_sup .right_galeria .colum_2 .box_img_1{height:35%;width:100%;}
#galeria_sup .right_galeria .colum_2 .box_img_2{height:35%;width:100%;}
#galeria_sup .right_galeria .colum_2 .box_img_3{height:30%;width:100%;overflow:hidden;}

.big_split_img{width:66.6%;height:100%;float:left;}
.small_split_img{width:33.3%;height:100%;float:left;}
.box_slider_img{background-size:cover !important;-ms-behavior:url(/backgroundsize.min.htc);width:100%;}

/*************************************
PROPIEDADES CURIOSIDAD Y FOTOGRAFÍAS
*************************************/
#contenidos{position:relative;}
#contenidos.home{z-index:150;}
.flecha_scroll{display:block;width:119px;height:120px;position:absolute;left:0;right:0;margin:0 auto;background:url(../img/flecha_scroll.png) top left no-repeat;top:-40px;z-index:105;}
#box_curiosidad{position:relative;background:#ffffff;z-index:80;}
#box_curiosidad .container{position:relative;}
.inside_curiosidad{width:60%;margin:0 auto;padding-top:100px;padding-bottom:40px;}
#box_curiosidad h3{color:#61bde9;font-size:60px;text-align:center;line-height:72px;font-family:'santa_fe', Helvetica, sans-serif;}
#box_curiosidad h3:after{content:'';display:block;margin-bottom:35px;background:url(../img/dots_curiosidad.png) bottom center no-repeat;height:15px;padding-top:20px;}
#box_curiosidad h4{color:#484647;font-size:24px;text-align:center;margin-bottom:20px;line-height:36px;font-family:'cabinsemibold', Helvetica, sans-serif;}
#box_curiosidad p{color:#484647;text-align:center;font-size:18px;margin-bottom:20px;line-height:24px;font-family:'cabinregular', Helvetica, sans-serif;}
#box_curiosidad p a{font-family:'cabinsemibold', Helvetica, sans-serif;color:#484647;}
.galeria_curiosidad{height:212px;overflow:hidden;}

/*************************************
PROPIEDADES COMO PARTICIPAR
*************************************/
#box_participar{height:820px;background:#61bde9;}
#box_participar .container{position:relative;height:820px;background:url(../img/bg_como.gif) 50% 0px no-repeat;overflow:hidden;}

#box_participar h3{color:#ffffff;font-size:60px;text-align:center;line-height:72px;position:absolute;top:60px;width:100%;font-family:'santa_fe', Helvetica, sans-serif;}
#box_participar h3:after{content:'';display:block;margin-bottom:35px;background:url(../img/dots_curiosidad.png) bottom center no-repeat;height:15px;padding-top:20px;}
#box_participar h4{font-size:24px;position:absolute;bottom:180px;color:#ffffff;text-align:center;width:100%;}
.txt_legal{font-size:14px;position:absolute;bottom:30px;color:#ffffff;width:100%;text-align:center;}
.btn_participar{color:#ffffff;font-size:16px;border:2px solid #ffffff;display:block;height:50px;width:270px;position:absolute;bottom:105px;line-height:50px;text-align:center;left:50%;border-radius:5px;margin-left:5px;}
.btn_participar_2{color:#ffffff;font-size:16px;border:2px solid #ffffff;display:block;height:50px;width:270px;position:absolute;bottom:105px;line-height:50px;text-align:center;right:50%;border-radius:5px;margin-right:5px;}

.rombo{background:#ffffff;display:table;position:absolute;border-radius:20px;-ms-transform:rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.rombo.registro_rombo{background:#f05456 !important;}
.rombo .inside_rombo{width:100%;text-align:center;display:table-cell;vertical-align:middle;height:100%;}
.rombo .inside_rombo a{width:100%;margin:0 auto;-ms-transform:rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg);font-size:17px;line-height:24px;color:#ffffff;height:100%;display:block;line-height:110px;}
.rombo .inside_rombo p{width:83%;margin:0 auto;-ms-transform:rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg);font-size:18px;line-height:24px;color:#484647;}
.rombo .inside_rombo p strong{font-family:'cabinsemibold', Helvetica, sans-serif;}

.rombo_1_l{width:220px;height:220px;bottom:400px;left:80px;}
.rombo_2_l{width:280px;height:280px;bottom:260px;left:350px;}
.rombo_2_r{width:210px;height:210px;bottom:290px;right:440px;}
.rombo_1_r{width:280px;height:280px;bottom:390px;right:110px;}

.rombo_1_c{width:200px;height:200px;bottom:370px;left:50%;margin-left:-100px;}
.rombo_2_c{width:110px;height:110px;bottom:310px;left:50%;margin-left:-55px;}

/*************************************
PROPIEDADES PREMIOS
*************************************/
#box_premios{background:#f9f9f9;/*min-height:870px;*/}
#box_premios .container{background:url(../img/bg_premios.gif) 0px bottom repeat-x;padding-top:60px;padding-bottom:150px;}
#box_premios h3{color:#61bde9;font-size:60px;text-align:center;line-height:72px;font-family:'santa_fe', Helvetica, sans-serif;}
#box_premios h3:after{content:'';display:block;margin-bottom:135px;background:url(../img/dots_curiosidad.png) bottom center no-repeat;height:15px;padding-top:20px;}

.premios_alumnos,.premios_profesores{width:40%;float:left;padding-left:5%;padding-right:5%;}
.box_jurado,.box_publico{width:45%;float:left;padding-left:2.5%;padding-right:2.5%;}
.premios_alumnos h4,.premios_profesores h4{text-align:center;color:#61bde9;font-size:30px;font-family:'cabinbold', Helvetica, sans-serif;padding-bottom:30px;}
.box_jurado h5,.box_publico h5{text-align:center;color:#484647;font-size:20px;font-family:'cabinbold', Helvetica, sans-serif;padding-bottom:25px;}
.box_jurado li,.box_publico li{background:#ebebeb;display:table;border-radius:8px;height:70px;margin-bottom:1px;box-sizing:border-box;padding-left:60px;padding-right:20px;font-size:16px;color:#484647;line-height:21px;width:100%;position:relative;}
.box_jurado li p,.box_publico li p{display:table-cell;vertical-align:middle;}
.box_jurado li p span,.box_publico li p span{color:#484647;font-size:30px;font-family:'cabinbold', Helvetica, sans-serif;line-height:70px;display:block;position:absolute;left:20px;top:0;}

/*************************************
PROPIEDADES EL JURADO
*************************************/
#box_jurado{background:#f05456}
#box_jurado .container{background:url(../img/bg_jurado.gif) right 0px no-repeat;/*min-height:1055px;*/padding-top:60px;padding-bottom:150px;}
#box_jurado h3{color:#ffffff;font-size:60px;text-align:center;line-height:72px;font-family:'santa_fe', Helvetica, sans-serif;}
#box_jurado h3:after{content:'';display:block;margin-bottom:45px;background:url(../img/dots_jurado.png) bottom center no-repeat;height:15px;padding-top:20px;}

#box_jurado h4{font-size:24px;color:#ffffff;width:80%;margin:0 auto;text-align:center;margin-bottom:25px;line-height:32px;}
#box_jurado .intro_jurado{font-size:18px;color:#ffffff;width:55%;margin:0 auto;text-align:center;margin-bottom:75px;line-height:24px;}

.box_jurado_single{float:left;width:33.33%;text-align:center;}
.inside_jurado{width:80%;margin:0 auto;}
.box_jurado_single img{max-width:100%;margin-bottom:35px;}
.box_jurado_single h5{font-size:24px;line-height:32px;font-family:'cabinsemibold', Helvetica, sans-serif;color:#ffffff;margin-bottom:35px;}
.box_jurado_single p{color:#ffffff;font-size:18px;margin-bottom:10px;line-height:28px;}
.box_jurado_single a{color:#ffffff;font-size:18px;font-family:'cabinsemibold', Helvetica, sans-serif;line-height:28px;text-decoration:underline;}


/*************************************
PROPIEDADES REGISTRO
*************************************/
#box_registro{width:60%;margin:0 auto;padding-top:40px;padding-bottom:150px;}
#box_registro h3{color:#61bde9;font-size:60px;text-align:center;line-height:72px;font-family:'santa_fe', Helvetica, sans-serif;}
#box_registro h3:after{content:'';display:block;margin-bottom:75px;background:url(../img/dots_curiosidad.png) bottom center no-repeat;height:15px;padding-top:10px;}

.form_box_registro{float:left;width:70%;}


.info_box_registro{float:left;width:30%;}
.info_box_registro .box_bg_txt{background:#f1e87c;display:table;border-radius:20px;-ms-transform:rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);height:160px;width:160px;margin:0 auto;margin-top:25px;}
.info_box_registro .inside_box_bg_txt{width:100%;text-align:center;display:table-cell;vertical-align:middle;height:100%;}
.info_box_registro .inside_box_bg_txt p{width:100%;margin:0 auto;-ms-transform:rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg);font-size:16px;line-height:21px;color:#373737;}
.info_box_registro .inside_box_bg_txt p a{color:#373737;display:block;height:30px;width:120px;margin:0 auto;border:2px solid #373737;line-height:30px;border-radius:5px;margin-top:10px;}

.form_box_registro{}
.form_box_registro h4{color:#61bde9;font-size:24px;line-height:32px;text-align:center;margin-bottom:20px;padding-left:25%;}

#registro-form{}
.form-group{overflow:hidden;margin-bottom:10px;}
#registro-form .form-group label{display:block;text-align:right;width:30%;float:left;box-sizing:border-box;padding-right:40px;height:40px;line-height:40px;color:#484647;font-size:17px;}
#registro-form .form-group input[type=text]{border:none;height:40px;line-height:40px;-webkit-appearance:none;width:auto;display:block;width:65%;float:left;box-sizing:border-box;padding-left:10px;padding-right:10px;color:#929091;font-size:20px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}
#registro-form .form-group input[type=password]{border:none;height:40px;line-height:40px;-webkit-appearance:none;width:auto;display:block;width:65%;float:left;box-sizing:border-box;padding-left:10px;padding-right:10px;color:#929091;font-size:20px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}
#registro-form .form-group input[type=email]{border:none;height:40px;line-height:40px;-webkit-appearance:none;width:auto;display:block;width:65%;float:left;box-sizing:border-box;padding-left:10px;padding-right:10px;color:#929091;font-size:20px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}

#registro-form .form-group input[type=text].error{border:2px solid #f05456;}
#registro-form .form-group input[type=password].error{border:2px solid #f05456;}
#registro-form .form-group input[type=email].error{border:2px solid #f05456;}

#registro-form span.ind_password{color:#adaaab;font-size:13px;display:block;padding-left:30%;width:95%;text-align:center;box-sizing:border-box;margin-bottom:40px;}

.radio-group{overflow:hidden;margin-bottom:3px;margin-top:60px;}
.titul_radio{display:block;text-align:right;width:30%;float:left;box-sizing:border-box;padding-right:40px;height:40px;line-height:40px;color:#484647;font-size:18px;}
.cont_radio{display:block;width:65%;float:left;box-sizing:border-box;height:40px;padding-top:10px;}
.cont_radio span{color:#484647;font-size:18px;display:inline-block;margin-right:25px;}

.date-group{overflow:hidden;}
.date-group label{display:none;}
.date-group .cont_radio{overflow:hidden;padding-top:0;}
.date-group input{border:none;height:40px;line-height:40px;-webkit-appearance:none;width:auto;display:block;float:left;box-sizing:border-box;padding-left:10px;padding-right:10px;color:#929091;font-size:20px;width:50px;margin-right:10px;text-align:center;}
.date-group .cont_radio span{display:block;float:left;height:40px;line-height:40px;width:20px;color:#484647;font-size:20px;margin-right:0;}
.date-group input.error{border:2px solid #ff0000;}
.date-group input:last-child{width:70px;}

.group_checkbox{margin-top:70px;}
#registro-form .checkbox label{display:inline-block;}
#registro-form  .checkbox{padding-left:50px;margin-bottom:18px;display:block;padding-left:30%;}
#registro-form  .checkbox p{margin-top:-30px;font-size:16px;padding-left:40px;color:#484647;}
#registro-form .checkbox a{color:#484647;text-decoration:underline;}

.submit_group{padding-left:30%;padding-top:40px;}
.submit_group input{-webkit-appearance:none;font-size:16px;height:40px;width:120px;box-sizing:border-box;border:2px solid #373737;border-radius:8px;cursor:pointer;background:none !important;font-family:'cabinregular', Helvetica, sans-serif;}

.errores{color:#f05456;font-size:14px;display:block;padding-left:30%;width:95%;box-sizing:border-box;margin-top:20px;}

.maquetacion_captcha{padding-left:30%;}

.tutor_datos{display:none;}
.tutor_datos h4{margin-top:20px;}
.tutor_datos p{padding-left:30%;margin-bottom:25px;}

/**********************
PROPIEDADES MIS PICS
***********************/
#box_mis_pics{padding-top:40px;}
#box_mis_pics h3{color:#61bde9;font-size:60px;text-align:center;line-height:72px;font-family:'santa_fe', Helvetica, sans-serif;}
#box_mis_pics h3:after{content:'';display:block;margin-bottom:75px;background:url(../img/dots_curiosidad.png) bottom center no-repeat;height:15px;padding-top:10px;}
#box_mis_pics h4{color:#61bde9;font-size:24px;line-height:32px;text-align:center;margin-bottom:15px;}

.box_new_pic{background:#ffffff;padding-top:40px;padding-bottom:70px;margin-bottom:30px;}
.inside_new_pic{width:80%;margin:0 auto;overflow:hidden;}

.form_new_pic{float:left;width:75%;}
#form-upload-pic{overflow:hidden;}
.preview_pic{width:33.3%;float:left;box-sizing:border-box;}
.fields_pic{width:66.6%;float:left;box-sizing:border-box;padding-left:50px;}
.submit_btn_pic{clear:both;box-sizing:border-box;padding-left:33.3%;}
.submit_btn_pic input{-webkit-appearance:none;font-size:16px;height:40px;width:120px;box-sizing:border-box;border:2px solid #373737;border-radius:8px;cursor:pointer;background:none;margin-left:50px;font-family:'cabinregular', Helvetica, sans-serif;}
#form-upload-pic span,#form-upload-pic label{display:block;}
.fields_pic label{color:#484647;font-size:18px;margin-bottom:10px;}
.fields_pic input[type=text]{height:40px;width:100%;box-sizing:border-box;border:2px solid #e2e2e2;color:#929091;font-size:16px;padding-left:10px;padding-right:10px;margin-bottom:20px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}
.fields_pic span{text-align:right;font-size:13px;color:#adaaab;margin-bottom:10px;}
.fields_pic textarea{height:220px;width:100%;box-sizing:border-box;border:2px solid #e2e2e2;color:#929091;font-size:16px;padding:10px;}
	
.preview_pic{text-align:center;}
.preview_pic span{font-size:13px;color:#adaaab;display:block;margin-top:10px;margin-bottom:30px;}
#preview_box{background:#e2e2e2;height:200px;display:block;margin:0 auto;margin-top:30px;overflow:hidden;}
#preview_box img{max-width:100%;}
.imagePreview{background-size:cover !important;-ms-behavior:url(/backgroundsize.min.htc);}


.info_new_pic{float:left;width:25%;text-align:center;}
.info_new_pic h5{color:#373737;font-size:16px;margin-bottom:15px;}
.info_new_pic p{color:#373737;font-size:13px;line-height:18px;width:80%;margin:0 auto;margin-bottom:15px;}

.info_new_pic .box_bg_txt{background:#f1e87c;display:table;border-radius:20px;-ms-transform:rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);height:160px;width:160px;margin:0 auto;margin-top:45px;}
.info_new_pic .inside_box_bg_txt{width:100%;text-align:center;display:table-cell;vertical-align:middle;height:100%;}
.info_new_pic .inside_box_bg_txt p{width:100%;margin:0 auto;-ms-transform:rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg);font-size:16px;line-height:21px;color:#373737;}
.info_new_pic .inside_box_bg_txt p a{color:#373737;display:block;height:30px;width:120px;margin:0 auto;border:2px solid #373737;line-height:30px;border-radius:5px;margin-top:10px;}

.box_single_pic{background:#ffffff;border-top:solid 2px #f1f1f1;}
.inside_single_pic{margin: 0 auto;overflow: hidden;width: 80%;padding-top:40px;padding-bottom:70px;}
.info_s_pic{box-sizing: border-box;float: left;padding-left: 50px;width:56.6%;}
.single_pic img{max-width:100%;}
.info_s_pic h4{text-align:left !important;color:#373737 !important;font-size:28px !important;line-height:32px;padding-right:52px;display:inline-block;}
.info_s_pic h4.aprovado_pic{background:url(../img/icon_aceptado.png) center right no-repeat;}
.info_s_pic h4.no_aprovado_pic{background:url(../img/icon_no_aceptado.png) center right no-repeat;}
.info_s_pic p{color:#373737;font-size:16px;line-height:24px;margin-bottom:30px;}
.info_s_pic .count_votos{color:#373737;font-size:20px;line-height:24px;background:url(../img/icon_star.png) center right no-repeat;padding-right:34px;}

/**********************
PROPIEDADES PICS (TODOS)
***********************/
#box_all_pics{/*padding-top:40px;*/}
.wall_pics{margin-top:-60px;}
.row{overflow:hidden;position:relative;}
.box_img_small{float:left;width:20%;position:relative;display:block;box-sizing:border-box;padding:20px;background-size:cover;-ms-behavior:url(/backgroundsize.min.htc);}
.box_img_small:before{display:none;visibility:hidden;opacity:0;content:'';position:absolute;left:0px;top:0px;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.5);-webkit-animation:fadeIn 0.4s forwards;animation:fadeIn 0.4s forwards;}
.box_img_small:hover:before{display:block;visibility:visible;opacity:1}
.box_img_small.active:before{display:block;visibility:visible;opacity:1;content:'';position:absolute;left:0px;top:0px;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.5);-webkit-animation:fadeIn 0.4s forwards;animation:fadeIn 0.4s forwards;}
.box_img_small:after {content:'';position:absolute;left:0px;top:0px;width:100%;height:100%;background:-moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));background:-webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);background:-o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);background:-ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);background:linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#99000000',GradientType=0)}
.box_img_small a{display: block;height:100%;position: absolute;width: 100%;z-index: 15;top:0;left:0;}
.box_img_small h3{position:absolute;bottom:15px;color:#ffffff;font-size:16px;padding-left:15px;padding-right:15px;}
.box_img_small a.active{background:url(../img/indicador_pic.png) bottom center no-repeat;}

.pagination_pics{background:#61bde9;text-align:center;padding-top:20px;padding-bottom:20px;}
.pagination_pics ul{display:inline-block;}
.pagination_pics li{display:inline-block;}
.pagination_pics li a{font-size:18px;color:#ffffff;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;margin-right:10px;}
.pagination_pics li:last-child a{margin-right:30px;}
.pagination_pics li:first-child a{margin-left:30px;}
.pagination_pics li a:hover{color:#7ed8ff;}
.pagination_pics li a.active{color:#7ed8ff;}

.prev_pag{display:inline-block;width:23px;height:16px;background-image:url(../img/arrow_pag_l.png); background-position:0px 0px;background-repeat:no-repeat;text-indent:-99999px;vertical-align:middle;}
.prev_pag:hover{background-position:0px -16px;}
.next_pag{display:inline-block;width:23px;height:16px;background-image:url(../img/arrow_pag_r.png); background-position:0px 0px;background-repeat:no-repeat;text-indent:-99999px;vertical-align:middle;}
.next_pag:hover{background-position:0px -16px;}

.navigation_pics{overflow:hidden;position:relative;}
.left_navigation_pics{display:inline-block;float:left;position:absolute;bottom:0px;}
.left_navigation_pics ul{margin-left:40px;margin-bottom:20px;}
.left_navigation_pics ul li{display:inline-block;}
.left_navigation_pics ul li a{font-size:20px;color:#373737;height:45px;line-height:45px;margin-right:20px;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.left_navigation_pics ul li a:hover{border-bottom:solid 3px #61bde9;color:#61bde9;}
.left_navigation_pics ul li a.active{border-bottom:solid 3px #61bde9;color:#61bde9;}
.right_navigation_pics{display:inline-block;float:right;}
.right_navigation_pics ul{font-size:0px;}
.right_navigation_pics ul li{display:inline-block;font-size:16px;}
.right_navigation_pics ul li a{display:inline-block;height:105px;text-indent:-99999px;width:290px;position:relative;z-index:210;}
.right_navigation_pics ul li:first-child{background:red;}
.right_navigation_pics ul li:last-child{background:green;}
.left_navigation_pics ul li.item_search a:hover{border-bottom:none !important;background:url(../img/lupa_search_b.png) center center no-repeat;}
.left_navigation_pics ul li.item_search a{display:block;text-indent:-99999px;height:45px;width:22px;background:url(../img/lupa_search_black.png) center center no-repeat;}

.over_search{position:absolute;z-index:100;background:red;height:45px;top:0;right:0;width:400px;}
#form-search-pic label{display:none;}
#form-search-pic input[type=text]{height:45px;line-height:45px;border:0;background:#fffffff;-webkit-appearance:none;box-sizing:border-box;width:100%;padding-right:70px;padding-left:10px;font-size:18px;color:#61bde9;font-family:'cabinregular', Helvetica, sans-serif;}
#form-search-pic input[type=submit]{position:absolute;top:0;right:0;height:45px;width:59px;border:none;-webkit-appearance:none;cursor:pointer;background:#ffffff url(../img/lupa_search_b.png) center center no-repeat;text-indent:-9999px;}
.over_search a{position:absolute;background:url(../img/close_search.png) top left no-repeat;height:32px;width:32px;text-indent:-99999px;top:7px;right:-47px;}
#form-search-pic input[placeholder], #form-search-pic [placeholder], #form-search-pic *[placeholder] {color:#61bde9;}

.detalle_pic{background:#323232;/*height:640px;*/box-sizing:border-box;padding:45px;position:relative;display:none;clear:both;}
.inside_detalle_pic{overflow:hidden;width:80%;margin:0 auto;}
.img_detalle_pic{width:60%;float:left;position:relative;}
.img_big_detalle{width:90%;margin:0 auto;background-size:cover;-ms-behavior:url(/backgroundsize.min.htc);background-position:center center; background-repeat:no-repeat;}
.cont_detalle_pic{width:40%;float:left;box-sizing:border-box;padding-left:30px;position:relative;}
.cont_detalle_pic h4{color:#61bde9;font-size:28px;font-family:'santa_fe', Helvetica, sans-serif;padding-top:10px;}
.cont_detalle_pic .nombre_persona{color:#61bde9;font-size:18px;margin-bottom:30px;}
.cont_detalle_pic h5{font-size:28px;color:#ffffff;line-height:36px;margin-bottom:10px;}
.cont_detalle_pic .descrip_pic{font-size:16px;line-height:22px;color:#ffffff;}
.bottom_detalle{position:absolute;bottom:0px;width:100%;}
.cont_detalle_pic .votos_detalle{margin-bottom:20px;width:120px;text-align:center;}
.cont_detalle_pic .votos_detalle span{color:#ffffff;font-size:20px;display:inline-block;padding-left:10px;padding-right:10px;}
.cont_detalle_pic .votos_detalle span:before{content:'';display:block;background:url(../img/icon_star.png) top center no-repeat;height:24px;padding-bottom:15px;}
.cont_detalle_pic .rrss_vote_detalle{overflow:hidden;width:100%;position:relative;}
.cont_detalle_pic .rrss_vote_detalle .btn_votar{display:block;height:40px;border:2px solid #999999;color:#999999;font-size:16px;line-height:40px;text-align:center;float:left;border-radius:8px;width:120px;}
.cont_detalle_pic .rrss_vote_detalle .btns_share{display:inline-block;color:#999999;font-size:16px;line-height:40px;position:absolute;right:30px;}
.cont_detalle_pic .rrss_vote_detalle .btns_share a{color:#999999;border:2px solid #999999;border-radius:30px;display:inline-block;width:40px;height:40px;line-height:40px;text-align:center;font-size:20px;margin-left:10px;}
	
.prev_pic{position:absolute;display:block;top:50%;left:25px;background:url(../img/prev_detalle.png) top left no-repeat;width:23px;height:16px;margin-top:-8px;text-indent:-99999px;}
.next_pic{position:absolute;display:block;top:50%;right:25px;background:url(../img/next_detalle.png) top left no-repeat;width:23px;height:16px;margin-top:-8px;text-indent:-99999px;}
.close_pic{position:absolute;display:block;top:20px;right:20px;background:url(../img/close_detalle.png) top left no-repeat;width:32px;height:32px;text-indent:-99999px;}

.box_pop_votar{position:fixed;width:100%;height:100%;z-index:100;top:0;left:0;}
.bg_pop_votar{background:rgba(0,0,0,0.5);position:absolute;height:100%;width:100%;z-index:105;}
.pop_votar{background:#ffffff;width:415px;height:345px;box-sizing:border-box;border-radius:8px;display:block;position:absolute;top:50%;left:50%;margin-left:-207px;margin-top:-173px;padding:30px;z-index:110;}
.pop_votar h3{color:#61bde9;font-size:50px;line-height:62px;font-family:'santa_fe', Helvetica, sans-serif;text-align:center;margin-top:25px;}
.pop_votar p{text-align:center;color:#61bde9;font-size:16px;line-height:24px;margin-bottom:20px;}

#form-votar-pic label{display:none;}
#form-votar-pic input[type=email]{display:block;width:100%;height:40px;line-height:40px;background:#f1f1f1;border:0;-webkit-appearance:none;margin-bottom:10px;box-sizing:border-box;padding-left:10px;padding-right:10px;font-size:14px;text-align:center;box-sizing:border-box;font-family:'cabinregular', Helvetica, sans-serif;color:#323232;}
#form-votar-pic input[type=submit]{bottom:35px;width:120px;height:40px;box-sizing:border-box;border:2px solid #61bde9;border-radius:5px;background:none;font-size:16px;-webkit-appearance:none;cursor:pointer;color:#61bde9;display:block;margin:0 auto;margin-top:20px;font-family:'cabinregular', Helvetica, sans-serif;}
#form-votar-pic input[placeholder], #form-votar-pic [placeholder], #form-votar-pic *[placeholder] {color:#323232;text-align:center;}

#form-votar-pic input[type=email].error{border:2px solid #f05456;}

.close_votar{position:absolute;text-indent:-99999px;width:32px;height:32px;display:block;top:15px;right:15px;background:url(../img/close_votar.png) top left no-repeat;}

/**************************
PROPIEDADES NEW PASSWORD
***************************/
#box_new_password{width:60%;margin:0 auto;padding-top:40px;padding-bottom:250px;}
#box_new_password h3{color:#61bde9;font-size:60px;text-align:center;line-height:72px;font-family:'santa_fe', Helvetica, sans-serif;}
#box_new_password h3:after{content:'';display:block;margin-bottom:75px;background:url(../img/dots_curiosidad.png) bottom center no-repeat;height:15px;padding-top:10px;}

.form_box_new_password{width:60%;margin:0 auto;}

#new-password-form .form-group label{display:block;text-align:left;width:100%;box-sizing:border-box;padding-right:40px;height:40px;line-height:40px;color:#484647;font-size:17px;}
#new-password-form .form-group input[type=password]{border:none;height:40px;line-height:40px;-webkit-appearance:none;width:auto;display:block;width:100%;float:inherit;box-sizing:border-box;padding-left:10px;padding-right:10px;color:#929091;font-size:20px;margin-bottom:20px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}
#new-password-form span.ind_password{color:#adaaab;font-size:13px;display:block;width:100%;text-align:left;box-sizing:border-box;margin-bottom:20px;}

#new-password-form .form-group input[type=password].error{border:2px solid #f05456;}
#new-password-form .submit_group {padding-left:0;padding-top:10px;}
#new-password-form .errores{padding-left:0;width:100%;margin-bottom:20px;}

/**************************
PROPIEDADES CONTACTO
***************************/
#contacto-form{}
.form-group{overflow:hidden;margin-bottom:10px;}
#contacto-form .form-group label{display:block;text-align:right;width:20%;float:left;box-sizing:border-box;padding-right:40px;height:40px;line-height:40px;color:#484647;font-size:17px;}
#contacto-form .form-group input[type=text]{border:none;height:40px;line-height:40px;-webkit-appearance:none;width:auto;display:block;width:65%;float:left;box-sizing:border-box;padding-left:10px;padding-right:10px;color:#929091;font-size:20px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}
#contacto-form .form-group input[type=password]{border:none;height:40px;line-height:40px;-webkit-appearance:none;width:auto;display:block;width:65%;float:left;box-sizing:border-box;padding-left:10px;padding-right:10px;color:#929091;font-size:20px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}
#contacto-form .form-group input[type=email]{border:none;height:40px;line-height:40px;-webkit-appearance:none;width:auto;display:block;width:65%;float:left;box-sizing:border-box;padding-left:10px;padding-right:10px;color:#929091;font-size:20px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}

#contacto-form textarea{border:none;display:block;width: 65%;box-sizing:border-box;padding:15px;height:300px;font-size:20px;font-family:'cabinregular', Helvetica, sans-serif;color:#929091;}

#contacto-form .form-group input[type=text].error{border:2px solid #f05456;}
#contacto-form .form-group input[type=password].error{border:2px solid #f05456;}
#contacto-form .form-group input[type=email].error{border:2px solid #f05456;}
#contacto-form .form-group textarea.error{border:2px solid #f05456;}

#contacto-form .checkbox label{display:inline-block;}
#contacto-form  .checkbox{padding-left:50px;margin-bottom:18px;display:block;padding-left:20%;}
#contacto-form  .checkbox p{margin-top:-30px;font-size:16px;padding-left:40px;color:#484647;width:65%;}
#contacto-form .checkbox a{color:#484647;text-decoration:underline;}

#contacto-form .maquetacion_captcha{padding-left:20%;}
#contacto-form .submit_group{padding-left:20%;}
#contacto-form .errores{padding-left:20%;}

/*****************************
PROPIEDADES VOTO CONFIRMADO
******************************/

.inside_detalle_pic_vote{overflow:hidden;width:60%;margin:0 auto;}
.inside_detalle_pic_vote .rrss_vote_detalle{height:50px;}
.header_vote{clear:both;padding-bottom:60px;}
.header_vote h3{font-size:40px;line-height:52px;color:#f1e87c;font-family:'santa_fe', Helvetica, sans-serif;text-align:center;}
.header_vote h3:before{content:'';display:block;width:100%;height:37px;background:url(../img/star_big.png) top center no-repeat;padding-bottom:20px;}

.img_detalle_pic_vote{width:60%;float:left;position:relative;}
.img_big_detalle_vote{width:90%;margin:0 auto;background-size:cover;-ms-behavior:url(/backgroundsize.min.htc);background-position:center center; background-repeat:no-repeat;}
.cont_detalle_pic_vote{width:40%;float:left;box-sizing:border-box;padding-left:30px;position:relative;}
.cont_detalle_pic_vote h4{color:#61bde9;font-size:28px;font-family:'santa_fe', Helvetica, sans-serif;padding-top:10px;}
.cont_detalle_pic_vote .nombre_persona{color:#61bde9;font-size:18px;margin-bottom:30px;}
.cont_detalle_pic_vote h5{font-size:28px;color:#ffffff;line-height:36px;margin-bottom:10px;}
.cont_detalle_pic_vote .descrip_pic{font-size:16px;line-height:22px;color:#ffffff;}
.bottom_detalle{position:absolute;bottom:0px;width:100%;}
.cont_detalle_pic_vote .votos_detalle{margin-bottom:20px;}
.cont_detalle_pic_vote .votos_detalle span{color:#ffffff;font-size:20px;display:inline-block;padding-left:10px;padding-right:10px;}
.cont_detalle_pic_vote .votos_detalle span:before{content:'';display:block;background:url(../img/icon_star.png) top center no-repeat;height:24px;padding-bottom:15px;}
.cont_detalle_pic_vote .rrss_vote_detalle{overflow:hidden;width:100%;position:relative;}
.cont_detalle_pic_vote .rrss_vote_detalle .btn_votar{display:block;height:40px;border:2px solid #999999;color:#999999;font-size:16px;line-height:40px;text-align:center;float:left;border-radius:8px;width:120px;}
.cont_detalle_pic_vote .rrss_vote_detalle .btns_share{display:inline-block;color:#999999;font-size:16px;line-height:40px;position:absolute;right:30px;}
.cont_detalle_pic_vote .rrss_vote_detalle .btns_share a{color:#999999;border:2px solid #999999;border-radius:30px;display:inline-block;width:40px;height:40px;line-height:40px;text-align:center;font-size:20px;margin-left:10px;}

/*****************************
PROPIEDADES FOOTER
******************************/
#footer{background:#323232;}

#top_footer{background:#373737;padding-top:30px;padding-bottom:30px;}
#top_footer .container{overflow:hidden;}
.right_p_rrss{float:right;margin-right:30px;}
#top_footer .list_rrss{display:inline-block;}
#top_footer .list_rrss li a{margin-left:10px;}
#top_footer .list_rrss li:first-child a {margin-left:0;}
#top_footer p{color:#61bde9;display:inline-block;font-family:'cabinregular', Helvetica, sans-serif;font-size:18px;display:inline-block;margin-right:10px;}

#top_footer .menu_pie{padding:0;margin:0;font-size:0;display:inline-block;float:left;margin-left:30px;}
#top_footer .menu_pie li{display:inline-block;font-size:16px;margin-left:20px;height:36px;line-height:36px;}
#top_footer .menu_pie li:first-child{margin-left:0;}
#top_footer .menu_pie li a{color:#61bde9;font-family:'cabinregular', Helvetica, sans-serif;font-size:18px;display:inline-block;line-height:30px;height:30px;}
#top_footer ul li.btn_footer a{font-size:18px;border:2px solid #61bde9;padding-left:20px;padding-right:20px;border-radius:5px;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
#top_footer ul li.btn_footer a:hover{background:#ffffff;}

/** BOTONES RRSS **/
#rrss_cab{position:absolute;top:10px;right:10px;z-index:20;}
.list_rrss{margin:0;padding:0;}
.list_rrss li{display:inline-block;}
.list_rrss li a{line-height:36px;display:inline-block;margin-left:9px;height:36px;width:36px;text-align:center;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;font-size:18px;color:#61bde9;background:#ffffff;opacity:1;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.list_rrss li a:hover{opacity:0.8;}



#boottom_footer .container{overflow:hidden;padding-top:30px;height:250px;}
.logo_foot{float:left;margin-left:30px;}
.copy_foot{float:right;color:#ffffff;font-size:12px;margin-right:30px;}
.copy_foot a{color:#ffffff;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.copy_foot a:hover{color:#61bde9;text-decoration:none;}
.copy_foot a:before{content: "/";padding: 0 5px;color:#ffffff !important;}

/*****************************
PROPIEDADES COOKIES
******************************/

.block-cookies{background:rgba(255,245,104,0.95);position:fixed;bottom:0;width:100%;padding-top:20px;padding-bottom:20px;z-index:300;display:none;}
.block-cookies .container{position:relative;}
.block-cookies h2{color:#ea575b;width:80%;margin:0 auto;text-align:center;margin-bottom:20px;font-family:'cabinbold', Helvetica, sans-serif;}
.block-cookies p{color:#ea575b;width:70%;margin:0 auto;text-align:center;}
.block-cookies p a{color:#ea575b;text-decoration:none;font-family:'cabinbold', Helvetica, sans-serif;text-decoration:underline;}
.close_c{position:absolute;right:0;top:0;display:inline-block;color:#ea575b;}
.close_c:before{content: "c";font-family:'icomoon', Helvetica, sans-serif;-moz-osx-font-smoothing: grayscale;font-style: normal;font-weight: normal;line-height: 1;position: relative;font-size:28px;}
.close_c:hover{color:#ea575b;}
.btn-accept{background:#ea575b;color:#ffffff;height:30px;display:block;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius:15px;width:140px;margin:0 auto;line-height:30px;text-align:center;margin-top:20px;}
.btn-accept:hover{color:#ffffff;}


/*****************************
PROPIEDADES ESPECIALES
******************************/
a img{border:0;}
.clear{clear:both;}
.hide{display:none !important;}
ul.bxslider {margin: 0;padding: 0;}
.bx-wrapper .bx-viewport{-moz-box-shadow: 0;-webkit-box-shadow: 0;box-shadow: 0 0 0 0;border: 0;left: 0;background:none !important;border:none !important;left:0 !important;}
.box_inside_float{overflow:hidden;}
.box_space_top{padding-top:184px;}
.desktop_opc{display:block;}
.mobile_opc{display:none;}
.custom-menu:before{content:'h';font-family:'icomoon', Helvetica, sans-serif;font-size:44px;}



/**********************************
PROPIEDADES DE CUSTOM RADIO | CHECKBOX BUTTON
**********************************/
#foo:checked::before,
input[type="radio"] {
    position:absolute;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
}

#foo:checked,
input[type="radio"] + label::before {
    content:'';
    cursor:pointer;
    position:relative;
    top:2px;
    vertical-align:top;
    padding-right:10px;
    display:inline-block;
    overflow:hidden;
    width:21px;
    height:21px;
    background:url(../img/radio_opt.png) no-repeat;
    background-position:0px 0px;
    background-size:21px;
}

input[type="radio"]:checked + label::before {
    content:'';
    cursor:pointer;
    position:relative;
    top:2px;
    vertical-align:top;
    padding-right:10px;
    display:inline-block;
    overflow:hidden;
    width:21px;
    height:21px;
    background:url(../img/radio_opt.png) no-repeat;
    background-position:0px -21px;
    background-size:21px;
}

#foo:checked::before,
input[type="checkbox"] {
    position:absolute;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
}

#foo:checked,
input[type="checkbox"] + label::before {
    content:'';
    cursor:pointer;
    display:inline-block;
    width:21px;
    height:21px;
    background:url(../img/check_state.png) no-repeat;
    background-position:0px 0px;
    background-size:21px;
}

#foo:checked,
input[type="checkbox"].error + label::before {
    content:'';
    cursor:pointer;
    display:inline-block;
    width:21px;
    height:20px;
    background:url(../img/check_state.png) no-repeat;
    background-position:0px -42px;
    background-size:21px;
}

input[type="checkbox"]:checked + label::before {
    content:'';
    cursor:pointer;
    display:inline-block;
    width:21px;
    height:21px;
    background:url(../img/check_state.png) no-repeat;
    background-position:0px -21px;
    background-size:21px;
}

/*****************************
MEDIA QUERIES
******************************/
 
@media screen and (max-width: 1535px) {
	/*.container{max-width:1440px;}*/
	.rombo_1_l{left:50px;}
	.rombo_2_l{left:280px;}
	.rombo_2_r{right:360px;}
	.rombo_1_r{right:80px;}
	
	/*.rombo_1_c{width:200px;height:200px;bottom:370px;left:50%;margin-left:-100px;}
	.rombo_2_c{width:110px;height:110px;bottom:310px;left:50%;margin-left:-55px;}	*/
} 

@media screen and (max-width: 1400px) {
	/*.container{max-width:1280px;}*/
	.rombo_1_l{left:50px;width:200px;height:200px;}
	.rombo_2_l{left:280px;width:240px;height:240px;}
	.rombo_2_r{right:360px;width:190px;height:190px;}
	.rombo_1_r{right:80px;width:250px;height:250px;}
	
	.rombo_1_c{width:180px;height:180px;bottom:370px;left:50%;margin-left:-90px;}
	.rombo_2_c{width:90px;height:90px;bottom:310px;left:50%;margin-left:-45px;}	
	
	.premios_alumnos,.premios_profesores{width:45%;float:left;padding-left:2.5%;padding-right:2.5%;}	
	.box_jurado h5, .box_publico h5{font-size:19px;}
}
 
@media screen and (max-width: 1210px) {
	/*.container{max-width:1024px;}*/
	#header.header_normal .right_top_header.desktop_opc .user_menu{position:absolute;top:60px;right:0;float:inherit;}
	#header.header_normal .right_top_header.desktop_opc .navigation_menu{}
	#header.header_normal #top_header .right_top_header.desktop_opc{overflow:auto;height:100px;width:240px;}
	#header.header_normal #box_login{top:130px;}
	
}

@media screen and (max-width: 1100px) {
	/*.container{max-width:1024px;}*/
	.premios_alumnos, .premios_profesores{width:85%;padding-left:0;padding-right:0;margin:0 auto;margin-bottom:80px;float:inherit;}	
	#box_premios h3::after{margin-bottom:95px;}
	.inside_curiosidad{width:80%;}
	.#box_jurado h4{width:90%;}
	#box_jurado .intro_jurado{width:75%;}
	.box_img_small{width:25%;}
	#box_registro{width:80%;}
}

@media screen and (max-width: 815px) {	
	/*.premios_alumnos, .premios_profesores{width:85%;padding-left:0;padding-right:0;margin:0 auto;margin-bottom:60px;float:inherit;}*/
	.menu_pie{float:inherit !important;width:100%;margin-left:0 !important;text-align:center;}
	.right_p_rrss{float:inherit;width:100%;text-align:center;}
	#top_footer p{display:block;margin-right:0;margin-top:40px;margin-bottom:15px;}
}

@media screen and (max-width: 768px) {	
	/*.premios_alumnos, .premios_profesores{width:85%;padding-left:0;padding-right:0;margin:0 auto;margin-bottom:60px;float:inherit;}*/
	.box_img_small{width:33.3%;}
	
	.desktop_opc{display:none;}
	.mobile_opc{display:block;}
	
	#header.header_normal .right_top_header.mobile_opc{z-index:100;width:100% !important;height:auto !important;overflow:hidden !important;}
	#header.header_normal #top_header h1 a{z-index:101;}
	
	.right_top_header.mobile_opc{min-height:44px;top:0 !important;z-index:-1;width:100%;overflow:hidden;}
	.right_top_header.mobile_opc.active{background:#ffffff;}
	.right_top_header.mobile_opc .custom-menu{margin-right:8px !important;}
	.right_top_header.mobile_opc.active .custom-menu:before{content:'c';}
	.right_top_header.mobile_opc ul.ul_mob_menu{font-size:0px;width:100%;text-align:right;display:block;}
	.right_top_header.mobile_opc ul.ul_mob_menu li{display:inline-block;font-size:16px;}
	.right_top_header.mobile_opc ul.ul_mob_menu li a{color:#ffffff;height:44px !important;line-height:44px !important;vertical-align:middle;}
	.right_top_header.mobile_opc.active ul.ul_mob_menu li a{color:#61bde9 !important;}
	.right_top_header.mobile_opc ul.ul_mob_menu li a:hover{border:none !important;}
	.right_top_header.mobile_opc .user_menu{float:inherit;padding-top:5px;padding-bottom:5px;text-align:center;}
	.right_top_header.mobile_opc .user_menu a{color:#61bde9 !important; }
	.right_top_header.mobile_opc .user_menu a:hover{ }
	.right_top_header.mobile_opc .user_menu li:nth-child(2),.right_top_header.mobile_opc .user_menu li:nth-child(1){display:block !important;}
	.right_top_header.mobile_opc .user_menu li:nth-child(2) a,.right_top_header.mobile_opc .user_menu li:nth-child(1) a{margin-right:0 !important;margin-bottom:10px;}
	.right_top_header.mobile_opc .user_menu li:nth-child(2) a:hover,.right_top_header.mobile_opc .user_menu li:nth-child(1) a:hover{border:none !important;}
	.extend_menu_mob{z-index:100;position:relative;padding-bottom:20px;display:none;}
	.extend_menu_mob ul li.btn_header a{color:#61bde9 !important;border:2px solid #61bde9 !important;}
	.extend_menu_mob ul li.btn_header a:hover{color:#ffffff !important;background:#61bde9 !important;}
	#header.home{position:absolute;}
	
	#box_registro{width:90%;}
}

@media screen and (max-width: 640px) {
	.inside_curiosidad{width:90%;}
	.premios_alumnos, .premios_profesores{width:90%;margin-bottom:40px;}
	.box_jurado, .box_publico{width:100%;padding-left:0;padding-right:0;margin-bottom:40px;}

	#top_footer .menu_pie li{display:block;margin-left:0px;margin-bottom:20px;}
	.logo_foot{float:inherit;margin-left:0;text-align:center;margin-bottom:20px;}
	.copy_foot{float:inherit;margin-right:0;text-align:center;}
	.copy_foot span{display:block;margin-top:10px;}
	.copy_foot a:before{content:'';padding:0;}
	.box_jurado_single{width:100%;}
	.box_jurado_single img{margin:0 auto;margin-bottom:35px;}
	#box_jurado{padding-bottom:30px;}
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{bottom:-60px;}
	body{-webkit-text-size-adjust:none}
	.bx-wrapper .bx-pager.bx-default-pager a{height:16px;width:16px;background:url(../img/radio_jurado.png) 0px 0px no-repeat;}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{background:url(../img/radio_jurado.png) 0px -16px no-repeat;}
	#box_jurado h4{width:90%;}
	#box_jurado .intro_jurado{width:85%;}
	.left_galeria .colum_2,.right_galeria .colum_2{display:none;}
	.left_galeria .colum_1,.right_galeria .colum_1{width:100% !important;}
	.galeria_curiosidad{height:125px;}
	
	.box_img_small{width:50%;}
	.logo_top{z-index:-2;position:relative;}
	.extend_menu_mob .logged_box{float:inherit;text-align:center;}
	.extend_menu_mob .logged_box a:before{display:inline-block;float:inherit;vertical-align:bottom;padding-left:0px;background-position:center left;}
}

@media screen and (max-width: 480px) {
	#gallery_home h2.logo_gall{height:302px;width:303px;}
	
	#contacto-form .form-group label{float:inherit;width:100%;text-align:left;}
	#contacto-form .form-group input[type="text"]{width:100%;}
	#contacto-form .form-group input[type="email"]{width:100%;}
	#contacto-form textarea{width:100%;}
	#contacto-form .checkbox{padding-left:0;}
	#contacto-form .maquetacion_captcha{padding-left:0;}
	#contacto-form .submit_group{padding-left:0;}
	.submit_group input{display:block;margin:0 auto;}
	#contacto-form .checkbox p{width:100%;}
	.maquetacion_captcha div{margin:0 auto;}
}

@media screen and (max-width: 320px) {
	#gallery_home h2.logo_gall{height:302px;width:303px;}
}
		